{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
    <title>Playlist Converter</title>

    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    
    <meta name="title" content="Playlist Converter">

    <meta name="description" content="Convert playlists between Apple Music, Spotify etc.">

    <link href="{% static 'css/style.css' %}?v8" rel='stylesheet' />
</head>

<body>
    <section id="head">
        <!-- Navigation -->
        <nav>
            <div class="flex wrapper">
                <div id="nav-logo-box">
                    <a href="/" class="flex">
                        .
                    </a>
                </div>
                <div id="links-bar" flex>
                    <a href="/" class="flex">
                        .
                    </a>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <!-- Big banner text -->
            <div class="">
                <h1 id="big-banner-head" class="big-text">
                    Convert playlists between <BR>Apple Music, Spotify & more.
                </h1>
                <h6 id="conversions" class="sup-text"><span id="counter">0</span> playlists converted.</h6>
            </div>
            <!-- Search bar -->
            <div id="input_container" class="flex shadow_custom">
                <input placeholder="Enter Apple Music or Spotify playlist url." id="input_big" type="text">
                <button class="big-button-text" id="submit_btn">Convert</button>
            </div>
        </div>
    </section>
    <section id="card-body">
        <div class="wrapper">
            <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar'>
                    <div style="word-wrap: break-word;" id="progress-bar-message" class="text-center"></div>
                </div>
            </div>
            <h3 id="recents_head" class="sp-heads" style="padding-top: 30px">
                Recent Playlists
            </h3>
            <div id="card-wrapper">
                {% for playlist in playlists %}
                <div class="card" data-tilt data-tilt-perspective="1400">
                    {% if playlist.artwork_url %}
                    <img src="{% static 'img/350-placeholder.png' %}" data-echo="{{ playlist.artwork_url }}" alt="album art">
                    {% else %}
                    <img src="{% static 'img/350-placeholder.png' %}" data-echo="{% static 'img/placeholder03.jpg' %}" alt="album art">
                    {% endif %}
                    <h3 class="playlist_title">
                        {{ playlist.name }}
                    </h3>
                    {% if playlist.creator %}
                    <h5 class="playlist_creator">
                        By {{ playlist.creator }}
                    </h5>
                    {% endif %}
                    <div class="button-wrap">
                        <a href="{{ playlist.applemusic_url }}" target="_blank"><button class="apple_btn"><i class="fab fa-itunes-note"></i>&nbsp;</button></a>
                        <a href="{{ playlist.spotify_url }}" target="_blank"><button class="spotify_btn"><i class="fab fa-spotify"></i>&nbsp;</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <footer>
        <div class="wrapper">
            <div class="footer">
                <p>
                    Apple and Apple Music are trademarks of Apple Inc., registered in the U.S. and other countries.
                </p>
                <p>
                    Spotify is a trademark of Spotify AB Inc., registered in the U.S. and other countries.
                </p>
                <p>{{ VERSION }}</p>
            </div>
        </div>
    </footer>
    <script>
        document.addEventListener('musickitloaded', function() {
            // MusicKit global is now defined
            MusicKit.configure({
                developerToken: "{{ APPLE_DEVELOPER_TOKEN }}",
                app: {
                    name: 'Move2Spotify',
                    build: '{{ VERSION }}'
                }
            });
        });
    </script>
    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
    <script src="{% static 'js/vendor/sweetalert.min.js' %}"></script>
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script src="{% static 'js/vendor/countUp.min.js' %}"></script>
    <script src="{% static 'js/vendor/tilt.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="{% static 'js/main.js' %}?v18"></script>
    <script>
        var count;
        const counter = new CountUp("counter", 0, {{ count }} ).start();
    </script>
    <script src="{% static 'js/vendor/echo.min.js' %}"></script>
    <script>
        echo.init({
        offset: 100,
        throttle: 250,
        unload: false,
        callback: function (element, op) {
          console.log(element, 'has been', op + 'ed')
        }})
    </script>
</body>

</html>
